<div class="mt-4 p-4 bg-light border" rounded>
  <h2>Add an album to the Record-Store database here</h2>
  <p>Reactive Form</p>
  <br />
  <form [formGroup]="addAlbumForm" (ngSubmit)="onSubmit()">
    <div class="row g-3">
      <div class="col">
        <input
          formControlName="albumName"
          type="text"
          class="form-control"
          placeholder="Album Title"
          aria-label="album-title"
        />
      </div>
      <div class="col">
        <input
          formControlName="releaseDate"
          type="text"
          class="form-control"
          placeholder="Release Date"
          aria-label="release-date"
        />
      </div>
      <div class="col">
        <input
          formControlName="price"
          type="number"
          class="form-control"
          placeholder="Price"
          aria-label="price"
        />
      </div>
<!-- for array -->
      <div formArrayName="trackList">
        <h2>Add Tracks</h2>
        <button type="button" class="btn btn-secondary" (click)="addTrack()">
          Add Another Track
        </button>
        <br />
        <div *ngFor="let track of trackList.controls; let i = index">
          <br />
          <div class="col" [formGroupName]="i">
            <input class="form-control" placeholder="Track Name" type="text" formControlName="title"/>
            <input class="form-control" placeholder="duration" type="text" formControlName="duration"/>
            <button type="button" class="btn btn-secondayr" (click)="removeTrack(i)">Remove</button>
          </div>
        </div>
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary" (click)="addAlbum()">
      Submit
    </button>
  </form>
</div>
<div class="mt-4 p-4 bg-light border" rounded>
  <div *ngIf="clientMessage.message.length > 0">
    {{ clientMessage.message }}
    <br />
    <p>Form Value: {{ addAlbumForm.value | json }}</p>
  </div>
</div>
