<div class="card-body">
  <app-nav></app-nav>
  <div class="mt-4 p-4 bg-light" rounded>
    <h2 >Add an album to the Record-Store database here</h2>
    <div class="row g-3">
      <div class="col">
        <input type="text" class="form-control" placeholder="Album Title" aria-label="album-title">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Release Date" aria-label="release-date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Price" aria-label="price">
      </div>
    </div>
  </div>


</div>
