<div class="card-body">
  <app-nav></app-nav>
  <div class="mt-4 p-4 bg-light" rounded>
    <h1 class="display-4">Record Store</h1>
    <p class="lead">A full stack <strong>Angular</strong> application with <strong>Spring-Boot</strong> back-end.</p>
    <hr class="my-4">
    <p>This project is a demonstration of the use of many-to-many relationships that occur in a music database and how those can be implemented, added to, and accesses.
      A record store is a useful example because of the relationships that exist between artists, albums, tracks, playlists, and the customer who purchases them.
    </p>

  </div>
</div>
