<div class="card-body">
  <app-nav></app-nav>
  <div class="mt-4 p-4 bg-light" rounded>
    <h2 >Login To Your Account</h2>
    <br/>
    <form>
      <div class="mb-3 w-25">
        <label for="firstName" class="form-label">First Name</label>
        <input type="firstName" class="form-control" id="firstName">
      </div>
      <div class="mb-3 w-25">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="lastName">
      </div>
      <div class="mb-3 w-25">
        <label for="userName" class="form-label">User Name</label>
        <input type="userName" class="form-control" id="userName">
      </div>
      <div class="mb-3 w-25">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="address" class="form-control" id="address">
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>
